html {
    scroll-behavior: smooth;
    margin: 0;
  }

body{
    height: 100%;
    margin: 0;
    padding:10px;
    display: grid;
    background-color: white;
    grid-template-columns:[A] 9rem [aa] 1fr [B] 1fr [bb] 1fr [C] 1fr [cc] 1fr [D] 1fr [dd] 1fr [last];
    grid-template-rows: [A] 5rem [B] 35rem [C] .001rem [D] 8rem [E] 5rem [footer] 1fr [last];
    grid-column: A / last ;
    grid-row: A / last;
}

.img{
  width: 29.3125rem;
  height: 21.28125rem;
  padding-left: 1.2rem;
}

#headerimg{
  width: 90rem;
  height: 35rem;
}

nav{
    grid-column: A / last ;
    grid-row: A / B;
  }

#unicode_text{
  color: white;
}

#div1{
    grid-column: aa / dd ;
    grid-row: B / D;
    text-align: center;
}

#div2{
  grid-column: aa / dd ;
  grid-row: D / E;
  display: inline-block;
  list-style: none;
  padding: 0;
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #000000;
  font-size: medium;
  border: none;
  padding: 15px 32px ;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
  padding-right: 5.8rem;
}

#div3{
  grid-column: aa / dd ;
  grid-row: E / footer;
}

.nav{
    display: inline-block;
    list-style: none;
    padding: 0;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #000000;
    font-size: large;
    border: none;
    padding: 15px 32px ;
    text-align:center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}
