html {
    scroll-behavior: smooth;
    margin: 0;
    background-color: rgb(237, 233, 229);
  }

body{
    height: 100%;
    margin: 0;
    padding:10px;
    display: grid;
    background-color: white;
}

.img{
  width: 27.3125rem;
  height: 19.28125rem;
  padding-left: 1.2rem;
}

#headerimg{
  width: 64rem;
  height: 24rem;
}


#unicode_text{
  color: white;
  background-color: rgb(24, 52, 24);
  padding: 0;
  width: fit-content;
  padding: 1rem 1rem 1rem 1rem;
}

#div1{
    text-align: center;
}

#div2{
  display: inline-block;
  list-style: none;
  padding: 0;
  background-color: white;
  font-family: Opensans;
  color: #000000;
  font-size: medium;
  border: none;
  padding: 15px 32px ;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
  padding-right: 5.8rem;
}


.nav{
    display: inline-block;
    list-style: none;
    padding: 0;
    background-color: white;
    font-family: Rox;
    color: #000000;
    font-size: larger;
    border: none;
    padding: 1rem 2rem ;
    text-align:center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 1rem;
    position: relative;
    left: 4.9rem;
    bottom: 1rem;
}

.nav1{
  display: inline-block;
  list-style: none;
  padding: 0;
  background-color: white;
  font-family: Opensans;
  color: #000000;
  font-size: 4rem;
  border: none;
  padding: 1rem 2rem ;
  text-align:center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1rem;
  position: relative;
  left: 24rem;
  bottom: 1rem;
}


@font-face {
  font-family: Rox;
  src: url(Roxborough\ CF.ttf);
  font-style: normal;
}

@font-face {
  font-family: Opensans;
  src: url(OpenSans-VariableFont_wdth\,wght.ttf);
  font-style: normal;
}