<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audrey Geehan's Famliy Christmas Gallery</title>
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="./static/form.css">
</head>
<body>
    <nav>
        <ul>
            <li class="nav">Audrey Geehan's Famliy</li>
            <li class="nav1"><a href="{{url_for('index')}}"><b>HOME</b></a></li>
            <li class="nav1"><a href="{{url_for('form')}}">FORM</a></li>
            <li class="nav1"><a href="{{url_for('gallery')}}">GALLERY</a></li>
            <li class="nav1"><a href="{{url_for('family')}}">INDIVIDUALS</a></li>
        </ul>
    </nav>
</body>
</html>